---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
import Button from '../components/Button.astro'
import Rhombus from '../components/Rhombus.astro'
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body
        class="w-screen h-auto bg-light text-lteTxt dark:bg-darkMode dark:text-dmTxt"
    >
        <Header />
        <main class="w-3/4 h-auto mx-auto py-20">
            <h1 class="text-3xl font-semibold text-center">
                Local Weather Data <span>
                    <img
                        class="w-16 inline-block ml-2 h-auto"
                        src="/images/logo.svg"
                        alt="Logo"
                    />
                </span>
            </h1>
            <div class="mx-auto w-full py-8 lg:w-1/2 h-auto">
                <input
                    id="zipCode"
                    name="zipCode"
                    class="inline-block px-4 text-darkMode w-7/12 md:w-3/4 h-10"
                    type="text"
                    placeholder="Enter your zipcode..."
                />
                <input
                    id="subBtn"
                    class="bg-headerBg text-white cursor-pointer ease-in-out duration-700 text-center text-lg px-4 py-1.5 text-darkMode font-bold hover:bg-white hover:text-headerBg"
                    type="submit"
                    value="Submit"
                />
            </div>
            <div class="w-full mx-auto h-auto py-8">
                <span class="text-3xl block text-center" id="cityName"></span>
            </div>
            <div
                class="w-full h-auto mx-auto py-8 text-center grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4"
            >
                <div
                    class="w-full h-auto px-4 py-20 mx-auto relative text-left bg-headerBg bg-center bg-cover bg-no-repeat bg-[url('https://images.unsplash.com/photo-1578455451341-4abd1a00567e')]"
                >
                    <div
                        class="w-full h-full absolute top-0 left-0 bg-black/75 z-10"
                    >
                    </div>
                    <span class="text-2xl block font-semibold relative z-20"
                        >Location: Columbus, Ohio</span
                    >
                    <span class="text-2xl block font-semibold relative z-20"
                        >Temperature: 28°</span
                    >
                    <span class="text-2xl block font-semibold relative z-20"
                        >Feels Like: 19°</span
                    >
                    <span class="block text-2xl absolute top-8 right-4 z-20">
                        <i class="fa-solid fa-snowflake text-sky-300"></i>
                    </span>
                    <p
                        class="text-lg relative z-20 font-thin text-white py-8 pr-4"
                    >
                        <span class="font-semibold text-sky-300 mr-2"
                            >Weather Details:</span
                        >
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Praesentium quae natus magnam doloremque, quam velit provident
                        aliquam explicabo totam, excepturi veniam officia culpa accusantium
                        quidem quibusdam! Laboriosam deleniti eaque fugit?
                    </p>
                    <div class="w-full h-auto text-center">
                        <Button
                            id="columbus"
                            txt="Learn More"
                            className="my-4 mx-auto relative z-20 text-white bg-sky-300 font-semibold ease-in-out duration-700 hover:bg-sky-100 hover:text-sky-400"
                        />
                    </div>
                </div>
                <div
                    class="w-full h-auto px-4 py-20 mx-auto relative text-left bg-headerBg bg-center bg-cover bg-no-repeat bg-[url('https://images.unsplash.com/photo-1597716856994-03fd0d2495ea')]"
                >
                    <div
                        class="w-full h-full absolute top-0 left-0 bg-black/50 z-10"
                    >
                    </div>
                    <span class="text-2xl block font-semibold relative z-20"
                        >Mexico City, Mexico</span
                    >
                    <span class="text-2xl block font-semibold relative z-20"
                        >Temperature: 79°</span
                    >
                    <span class="text-2xl block font-semibold relative z-20"
                        >Feels Like: 75°</span
                    >
                    <span class="block text-2xl absolute top-8 right-4 z-20">
                        <i class="fa-solid fa-sun text-amber-400"></i>
                    </span>
                    <p
                        class="text-lg relative z-20 font-thin text-white py-8 pr-4"
                    >
                        <span class="font-semibold text-amber-400 mr-2"
                            >Weather Details:</span
                        >
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Praesentium quae natus magnam doloremque, quam velit provident
                        aliquam explicabo totam, excepturi veniam officia culpa accusantium
                        quidem quibusdam! Laboriosam deleniti eaque fugit?
                    </p>
                    <div class="w-full h-auto text-center">
                        <Button
                            id="mexico"
                            txt="Learn More"
                            className="my-4 mx-auto relative z-20 text-white bg-amber-300 font-semibold ease-in-out duration-700 hover:bg-amber-100 hover:text-amber-400"
                        />
                    </div>
                </div>
                <div
                    class="w-full h-auto px-4 py-20 mx-auto relative text-left bg-headerBg bg-center bg-cover bg-no-repeat bg-[url('https://images.unsplash.com/photo-1533106497176-45ae19e68ba2')]"
                >
                    <div
                        class="w-full h-full absolute top-0 left-0 bg-black/75 z-10"
                    >
                    </div>
                    <span class="text-2xl block font-semibold relative z-20"
                        >Location: Miami, Florida</span
                    >
                    <span class="text-2xl block font-semibold relative z-20"
                        >Temperature: 73°</span
                    >
                    <span class="text-2xl block font-semibold relative z-20"
                        >Feels Like: 71°</span
                    >
                    <span class="block text-2xl absolute top-8 right-4 z-20">
                        <i class="fa-solid fa-cloud text-gray-400"></i>
                    </span>
                    <p
                        class="text-lg relative z-20 font-thin text-white py-8 pr-4"
                    >
                        <span class="font-semibold text-gray-400 mr-2"
                            >Weather Details:</span
                        >
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Praesentium quae natus magnam doloremque, quam velit provident
                        aliquam explicabo totam, excepturi veniam officia culpa accusantium
                        quidem quibusdam! Laboriosam deleniti eaque fugit?
                    </p>
                    <div class="w-full h-auto text-center">
                        <Button
                            id="miami"
                            txt="Learn More"
                            className="my-4 mx-auto relative z-20 bg-gray-400 ease-in-out font-semibold duration-700 hover:bg-gray-100 hover:text-headerBg"
                        />
                    </div>
                </div>
            </div>
            <div class="grid grid-cols-4 relative w-full mx-auto h-auto py-12">
                <div class="w-full h-auto col-span-1 mx-auto">
                    <div class="w-full h-auto py-12 bg-black/75">
                        <div class="w-3/4 h-auto mx-auto text-center">
                            <div
                                class="w-full h-auto text-dmTxt text-2xl mb-16 mx-auto"
                            >
                                Today, 20:33
                            </div>
                            <div class="w-full h-auto mx-auto mb-16">
                                <i
                                    class="fa-solid fa-sun text-9xl text-yellow-500"
                                ></i>
                            </div>
                            <div
                                class="w-full h-auto text-8xl mb-4 text-yellow-400 mx-auto"
                            >
                                88 ℉
                            </div>
                            <div class="w-full h-auto text-xl text-dmTxt">
                                Feels like 92 ℉
                            </div>
                            <div
                                class="w-full h-auto mx-auto grid grid-cols-2 py-8 text-left"
                            >
                                <div
                                    class="w-full text-dmTxt text-lg h-auto mb-4"
                                >
                                    Rain Chance
                                </div>
                                <div
                                    class="w-full text-lg text-dmTxt ml-12 h-auto"
                                >
                                    <i
                                        class="fa-solid text-sky-500 mr-2 fa-droplet"
                                    ></i> 12%
                                </div>
                                <div
                                    class="w-full text-lg text-dmTxt mb-4 h-auto"
                                >
                                    Wind Speed
                                </div>
                                <div
                                    class="w-full h-auto text-lg text-dmTxt ml-12"
                                >
                                    <i
                                        class="fa-solid fa-circle text-lime-300 mr-2"
                                    ></i> 8 mph
                                </div>
                                <div
                                    class="w-full text-lg text-dmTxt mb-4 h-auto"
                                >
                                    Humidity
                                </div>
                                <div
                                    class="w-full h-auto text-lg text-dmTxt ml-12"
                                >
                                    <i
                                        class="fa-solid fa-circle mr-2 text-green-300"
                                    ></i> 63%
                                </div>
                                <div
                                    class="w-full text-lg text-dmTxt mb-4 h-auto"
                                >
                                    Air Quality
                                </div>
                                <div
                                    class="w-full text-lg text-dmTxt ml-12 h-auto"
                                >
                                    <i
                                        class="fa-solid fa-circle mr-2 text-rose-300"
                                    ></i> 23 AQI
                                </div>
                                <div
                                    class="w-full text-lg text-dmTxt mb-4 h-auto"
                                >
                                    Pressure
                                </div>
                                <div
                                    class="w-full h-auto text-lg text-dmTxt ml-12"
                                >
                                    <i
                                        class="fa-solid fa-circle mr-2 text-indigo-300"
                                    ></i> 1044 mb
                                </div>
                                <div
                                    class="w-full h-auto text-lg text-dmTxt mb-4"
                                >
                                    UV Index
                                </div>
                                <div
                                    class="w-full h-auto text-lg text-dmTxt ml-12"
                                >
                                    <i
                                        class="fa-solid fa-circle mr-2 text-yellow-300"
                                    ></i> 17
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-full col-span-3 h-auto mx-auto">
                    <div class="w-full h-auto py-12 bg-black/[.50]">
                        <div class="w-10/12 h-auto mx-auto">
                            <div class="w-full h-auto grid grid-cols-2 gap-4">
                                <div
                                    class="w-full h-auto bg-gray-300 rounded p-8"
                                >
                                    <img
                                        class="w-full h-auto"
                                        src="/images/weatherUI/chart.svg"
                                        alt="Weather Chart"
                                    />
                                </div>
                                <div
                                    class="w-full h-auto bg-gray-300 rounded p-8"
                                >
                                    <img
                                        src="/images/weatherUI/chart-2.svg"
                                        alt="Sunrise/Sunset Chart"
                                        class="w-full h-auto"
                                    />
                                </div>
                                <div
                                    class="w-full h-auto bg-gray-300 rounded p-8"
                                >
                                    <img
                                        class="w-full h-auto"
                                        src="/images/weatherUI/chart-3.svg"
                                        alt="UV Index Chart"
                                    />
                                </div>
                                <div
                                    class="w-full h-auto bg-gray-300 rounded p-8"
                                >
                                    <img
                                        src="/images/weatherUI/chart-4.svg"
                                        alt="Chance of rainfall chart."
                                        class="w-full h-auto"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <Rhombus
                    day="Fri"
                    img="https://plus.unsplash.com/premium_photo-1664298006973-e98eb94d006c"
                    tempH={88}
                    tempL={66}
                    windOne="SW @ 8mph"
                    windTwo="SE @ 4mph"
                    iconOne="/images/weatherUI/pMoon.svg"
                    iconOneAlt="Partial Moon"
                    iconTwo="/images/weatherUI/pMoonRain.svg"
                    iconTwoAlt="Partial Moon and Rain"
                />
                <Rhombus
                    day="Sat"
                    img="https://images.unsplash.com/photo-1537210249814-b9a10a161ae4"
                    tempH={86}
                    tempL={72}
                    windOne="SW @ 8mph"
                    windTwo="SE @ 4mph"
                    iconOne="/images/weatherUI/pSunny.svg"
                    iconOneAlt="Partial Sunlight"
                    iconTwo="/images/weatherUI/pSunRain.svg"
                    iconTwoAlt="Partial Sunlight and Rain"
                />
                <Rhombus
                    day="Sun"
                    img="https://images.unsplash.com/photo-1581059729226-c493d3086748"
                    tempH={87}
                    tempL={71}
                    windOne="SW @ 8mph"
                    windTwo="SE @ 4mph"
                    iconOne="/images/weatherUI/sunny.svg"
                    iconOneAlt="Windy Conditions"
                    iconTwo="/images/weatherUI/pSunRain.svg"
                    iconTwoAlt="Windy Conditions Cold"
                /> -->
            </div>
        </main>
        <Footer />
        <script>
            import '../scripts/app'
            import '../scripts/stats'
        </script>
    </body>
</html>
