---
import Header from '../components/Header.astro'
import BaseHead from '../components/BaseHead.astro'
import Footer from '../components/Footer.astro'
import Button from '../components/Button.astro'
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead
            title="Statistics Page"
            description="Page dedicated to gathering information and give statistical probabilities."
        />
    </head>
    <body
        class="w-screen h-auto bg-light text-lteTxt dark:bg-darkMode dark:text-dmTxt"
    >
        <Header />
        <div class="w-10/12 py-12 h-auto mx-auto text-center">
            <div
                class="w-full h-auto grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-4"
            >
                <div class="w-full h-auto">
                    <h3 class="text-2xl text-dmTxt my-4 text-center">
                        City Name:
                    </h3>
                    <input
                        id="cName"
                        type="text"
                        class="w-full h-8 px-4 text-base text-black"
                        placeholder="Chicago"
                    />
                </div>
                <div class="w-full h-auto">
                    <h3 class="text-2xl text-dmTxt my-4 text-center">
                        City Population:
                    </h3>
                    <input
                        id="cPop"
                        type="text"
                        class="w-full h-8 px-4 text-base text-black"
                        placeholder="2697000"
                    />
                </div>
                <div class="w-full h-auto">
                    <h3 class="text-2xl text-dmTxt my-4 text-center">
                        City Murders:
                    </h3>
                    <input
                        id="cMurder"
                        type="text"
                        class="w-full h-8 px-4 text-base text-black"
                        placeholder="800"
                    />
                </div>
                <div class="w-full h-auto">
                    <h3 class="text-2xl text-dmTxt my-4 text-center">
                        Chances of Being Murdered
                    </h3>
                    <Button
                        id="submit"
                        className="bg-green-400 font-semibold duration-700 ease-in-out border-2 border-green-400 rounded-xl text-white text-lg hover:bg-white hover:text-green-400"
                        txt="Submit"
                    />
                </div>
            </div>
            <!-- End of grid -->
            <div
                id="AnswCont"
                class="w-3/4 h-auto relative mx-auto mt-20 z-0 opacity-0 hidden bg-center bg-cover p-36 bg-no-repeat bg-[url('/images/stats/statsGraphic.jpeg')]"
            >
                <div
                    class="w-full h-full absolute bg-blue-900/75 mix-blend-overlay top-0 left-0 z-10"
                >
                </div>
                <div
                    id="answers"
                    class="w-3/4 h-auto mx-auto rounded-xl relative z-20 h-auto p-8 bg-black/[.95] opacity-0 text-2xl"
                >
                </div>
                <Button
                    id="clearMsg"
                    className="bg-red-400 border-2 border-red-400 text-white text-lg relative z-20 mt-8 duration-700 ease-in-out hover:bg-white hover:text-red-400"
                    txt="Clear"
                />
            </div>
            <div style="w-full h-auto">
                <canvas class="py-20" id="shyTown"></canvas>
            </div>
            <div style="w-full h-auto">
                <canvas class="py-20" id="newYork"></canvas>
            </div>
            <div style="w-full h-auto">
                <canvas class="py-20" id="losAngeles"></canvas>
            </div>
        </div>
        <Footer />
        <script>
            import '../scripts/stats'
        </script>
        <style>
            @keyframes fadeIn {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }

            .fadeMsg {
                animation: fadeIn 0.75s ease-in normal forwards;
                opacity: 1;
            }
        </style>
    </body>
</html>
