---
const today = new Date()
---

<footer class="bg-gray-200 dark:bg-headerBg">
    <span class="dark:text-cyan-300">
        &copy; {today.getFullYear()} Weather Data. All rights reserved.
    </span>
    <div class="social-links">
        <a
            href="https://github.com/xxxcodeingxxx/"
            target="_blank"
            rel="noopener noreferrer"
        >
            <span class="sr-only">Go To Our GitHub Repo</span>
            <span>
                <i class="fa-brands fa-github fa-2x"></i>
            </span>
        </a>
        <a href="https://twitter.com" target="_blank" rel="noopener noreferrer">
            <span class="sr-only">Follow Us on Twitter</span>
            <span>
                <i class="fa-brands fa-x-twitter fa-2x"></i>
            </span>
        </a>
        <a
            href="https://instagram.com/"
            target="_blank"
            rel="noopener noreferrer"
        >
            <span class="sr-only">Follow Us on Instagram</span>
            <span>
                <i class="fa-brands fa-instagram fa-2x"></i>
            </span>
        </a>
    </div>
</footer>
<style>
    footer {
        padding: 2em 1em 6em 1em;
        text-align: center;
    }
    .social-links {
        display: flex;
        justify-content: center;
        gap: 1em;
        margin-top: 1em;
    }
    .social-links a {
        text-decoration: none;
    }
</style>
