---
export interface Props {
    classNames?: string
}

const { classNames } = Astro.props

import HeaderLink from './HeaderLink.astro'
import { SITE_TITLE } from '../consts'
---

<header
    class={`shadow-lg w-full h-auto px-6 bg-gray-200 dark:shadow-none dark:bg-headerBg ${classNames}`}
>
    <nav>
        <h2 class="text-xl"><a href="/">{SITE_TITLE}</a></h2>
        <div class="internal-links">
            <HeaderLink href="/">Home</HeaderLink>
            <HeaderLink href="/blog">Blog</HeaderLink>
            <HeaderLink href="/about">About</HeaderLink>
        </div>
        <div class="social-links">
            <a
                href="https://github.com/xxxcodeingxxx/"
                target="_blank"
                rel="noopener noreferrer"
            >
                <span class="sr-only">Go to our GitHub repo</span>
                <span>
                    <i class="fa-brands fa-github fa-2x"></i>
                </span>
            </a>
            <a
                href="https://twitter.com/"
                target="_blank"
                rel="noopener noreferrer"
            >
                <span class="sr-only">Follow Us On Twitter</span>
                <span>
                    <i class="fa-brands fa-x-twitter fa-2x"></i>
                </span>
            </a>
            <a
                href="https://instagram.com"
                target="_blank"
                rel="noopener noreferrer"
            >
                <span class="sr-only">Follow Us On Instagram</span>
                <span>
                    <i class="fa-brands fa-instagram fa-2x"></i>
                </span>
            </a>
        </div>
    </nav>
</header>
<style>
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    nav a {
        padding: 1em 0.5em;
        color: var(--black);
        border-bottom: 4px solid transparent;
        text-decoration: none;
    }
    nav a.active {
        text-decoration: none;
        border-bottom-color: rgb(6 182 212);
    }
    .social-links,
    .social-links a {
        display: flex;
    }
    @media (max-width: 720px) {
        .social-links {
            display: none;
        }
    }
</style>
